NIVVI_DATABASE=/data/nivvi.sqlite
NIVVI_SMTP_HOST=smtp.office365.com
NIVVI_SMTP_PORT=587
NIVVI_SMTP_FROM=Nivvi <hello.nivvi@outlook.com>
NIVVI_SMTP_USER=hello.nivvi@outlook.com
NIVVI_SMTP_PASSWORD=
NIVVI_RESEND_KEY=
NIVVI_APNS_KEY=/data/AuthKey_8AFZ636P58.p8
NIVVI_APNS_KEY_ID=8AFZ636P58
NIVVI_APNS_TEAM=Z3PG445L36
NIVVI_APNS_TOPIC=com.michael1991.nivvi
NIVVI_APNS_SANDBOX=0